<!--　This is a temporary placement file. So you can change file name, either create a new directory.  -->
<ons-page id="match-making">
  <div class="page__background background_whitesmoke"></div>
  <div class="wrapper">
    <ons-toolbar class="toolbar">
      <div class="left">
        <ons-icon icon="fa-bell" size="20px" fixed-width="false" class="icon-white"></ons-icon>
      </div>
      <div class="center">Nineteen</div>
      <div class="right">
        <ons-icon icon="fa-cog" size="20px" fixed-width="false" class="icon-white"></ons-icon>
      </div>
    </ons-toolbar>
    <div>
      Here is "マッチングリスト画面"
      Here is "マッチングリスト画面"
      Here is "マッチングリスト画面"
      Here is "マッチングリスト画面"
      Here is "マッチングリスト画面"
      Here is "マッチングリスト画面"
    </div>
    <ons-tabbar class="footer-tab" swipeable>
      <ons-tab id="js-home-tab" label=" ホーム" icon="fa-home" badge=""></ons-tab>
      <ons-tab id="js-topic-tab" label="トピック" icon="fa-battle-net" ></ons-tab>
      <ons-tab id="js-match-making-tab" label="合コン" icon="fa-glass-cheers" active></ons-tab>
      <ons-tab id="js-schedule-tab" label="スケジュール" icon="fa-calendar-alt"></ons-tab>
      <ons-tab id="js-group-tab" label="グループ" icon="fa-users"></ons-tab>
    </ons-tabbar>
</ons-page>
