<!-- 相手グループプロフィール閲覧画面 -->
<ons-page id="partner-group-profile">
  <div class="page__background background_whitesmoke"></div>
  <ons-toolbar class="toolbar">
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center">
      グループプロフィール
    </div>
  </ons-toolbar>

  <div class='content-header'>
    <input 
      class="content-header-inner"
      disabled
      type="button"
      value="美女軍団A"
    >
  </div>

  <div class="container-block">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img 
            alt=""
            src="../../assets/sample/sample-girls-group1.jpg" 
            width="100%"
          >
        </div>
        <div class="swiper-slide">
          <img
            alt=""
            src="../../assets/sample/sample-girls-group2.jpg"
            width="100%"
          >
        </div>
        <div class="swiper-slide">
          <img
            alt=""
            src="../../assets/sample/sample-girls-group3.jpg"
            width="100%"
          >
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <div class="container-block">
    <p>
      グループプロフィール
    </p>
    <textarea
      id="group-profile"
      cols="45"
      name="group-profile"
      readonly
      rows="6"
    >
      「今日は可愛い子と呑めるということでワクワクしています。趣味は、女の子が一気で呑めなかった飲み残しを代打飲みすること。ちなみに、ほろよい2缶でぶっ潰れます。今日は気合入れてるので、ほろよい3缶いけるよう頑張ります！よろしく〜！」「今日は可愛い子と呑めるということでワクワクしています。趣味は、女の子が一気で呑めなかった飲み残しを代打飲みすること。ちなみに、ほろよい2缶でぶっ潰れます。今日は気合入れてるので、ほろよい3缶いけるよう頑張ります！よろしく〜！」「今日は可愛い子と呑めるということでワクワクしています。趣味は、女の子が一気で呑めなかった飲み残しを代打飲みすること。ちなみに、ほろよい2缶でぶっ潰れます。今日は気合入れてるので、ほろよい3缶いけるよう頑張ります！よろしく〜！」「今日は可愛い子と呑めるということでワクワクしています。趣味は、女の子が一気で呑めなかった飲み残しを代打飲みすること。ちなみに、ほろよい2缶でぶっ潰れます。今日は気合入れてるので、ほろよい3缶いけるよう頑張ります！よろしく〜！」
    </textarea>
  </div>

  <div>
    <ul>
      <li>
        <img
          class="member-image"
          alt="member-image"
          src="../../assets/sample/sample-bijyo2.jpg"
          width="90%"
        >
        <div class="member-name">
          美女A
        </div>
      </li>
      <li>
        <img
          class="member-image"
          alt="member-image"
          src="../../assets/sample/sample-bijyo2.jpg"
          width="90%">
        <div class="member-name">
          美女B
        </div>
      </li>
      <li>
        <img
          class="member-image"
          alt="member-image"
          src="../../assets/sample/sample-bijyo2.jpg"
          width="90%"
        >
        <div class="member-name">
          美女C
        </div>
      </li>
    </ul>
  </div>
  <button
    type="button"
    class="wanna-dring-btn"
  >
    <ons-icon icon="fa-glass-cheers"></ons-icon>
    飲みたい！
  </button>
</ons-page>
