<!-- 運営への問い合わせ -->
<ons-page id="contact-site-manager">
  <div class="page__background background_whitesmoke"></div>
  <ons-toolbar class="toolbar">
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center">
      設定・情報
    </div>
  </ons-toolbar>

  <div class='content-header'>
    <input
      type="button"
      class="content-header-inner"
      disabled
      value="運営への問い合わせ"
    >
  </div>

  <div class="container-block">
    <div class="container-block-inner">
      <p>
        問い合わせ内容
      </p>
      <div>
        <textarea placeholder="こちらにご入力ください"></textarea>
      </div>
      <button
        type="button"
        class="shared-purple-btn"
      >
        送信
      </button>
      <p class="excuse-msg">
        回答まで1週間ほどお時間を頂くことがございます。
        <br>予めご了承ください。
      </p>
    </div>
  </div>
</ons-page>
