<!-- ユーザー登録情報編集画面 -->
<ons-page id="edit-auth-info">
    <div class="page__background background_whitesmoke"></div>
    <ons-toolbar class="toolbar">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">
            設定・情報
        </div>
    </ons-toolbar>

    <div class='content-header'>
        <input type="button" class="content-header-inner" disabled value="ユーザー登録情報編集">
    </div>

    <ons-list>
        <div class="list-wrapper">
            <ons-list-header>ユーザー名</ons-list-header>
            <ons-list-item>
                shibuya
            </ons-list-item>
        </div>
        <div class="list-wrapper">
            <ons-list-header>現在のパスワード</ons-list-header>
            <ons-list-item>
                <input type="text" style="border: 0px">
            </ons-list-item>
        </div>
        <div class="list-wrapper">
            <ons-list-header>新しいパスワード</ons-list-header>
            <ons-list-item>
                <input type="text" style="border: 0px"></input>
            </ons-list-item>
        </div>
        <div class="list-wrapper">
            <ons-list-header>新しいパスワード(確認)</ons-list-header>
            <ons-list-item>
                <input type="text" style="border: 0px"></input>
            </ons-list-item>
        </div>
    </ons-list>
</ons-page>