<!-- ヘルプ一覧画面 -->
<ons-page id="help-list">
  <div class="page__background background_whitesmoke"></div>
  <ons-toolbar class="toolbar">
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center">
      設定・情報
    </div>
  </ons-toolbar>

  <div class='content-header'>
    <input type="button" class="content-header-inner" disabled value="ヘルプ一覧">
  </div>

  <ons-list>
    <div class="list-wrapper">
      <ons-list-header>ヘルプ１</ons-list-header>
      <ons-list-item expandable>
        
        <u>
        かれこれこういうとき
        </u>
        <div class="expandable-content">
          カクカクしかじか、このように対応してください。われわれは責任をおいません。ごめんなさい。
        </div>
      </ons-list-item>
    </div>
    <div class="list-wrapper">
      <ons-list-header>ヘルプ２</ons-list-header>
      <ons-list-item expandable>
        <u>
          かれこれこういうとき
        </u>
        <div class="expandable-content">
          カクカクしかじか、このように対応してください。われわれは責任をおいません。ごめんなさい。
        </div>
      </ons-list-item>
    </div>
    <div class="list-wrapper">
      <ons-list-header>ヘルプ３</ons-list-header>
      <ons-list-item expandable>
        <u>
          かれこれこういうとき
        </u>
        <div class="expandable-content">
          カクカクしかじか、このように対応してください。われわれは責任をおいません。ごめんなさい。
        </div>
      </ons-list-item>
    </div>
    <div class="list-wrapper">
      <ons-list-header>ヘル４</ons-list-header>
      <ons-list-item expandable>
        <u>
          かれこれこういうとき
        </u>
        <div class="expandable-content">
          カクカクしかじか、このように対応してください。われわれは責任をおいません。ごめんなさい。
        </div>
      </ons-list-item>
    </div>
    <div class="list-wrapper">
      <ons-list-header>ヘルプ５</ons-list-header>
      <ons-list-item expandable>
        <u>
          かれこれこういうとき
        </u>
        <div class="expandable-content">
          カクカクしかじか、このように対応してください。われわれは責任をおいません。ごめんなさい。
        </div>
      </ons-list-item>
    </div>
    <div class="list-wrapper">
      <ons-list-header>ヘルプ６</ons-list-header>
      <ons-list-item expandable>
        <u>
          かれこれこういうとき
        </u>
        <div class="expandable-content">
          カクカクしかじか、このように対応してください。われわれは責任をおいません。ごめんなさい。
        </div>
      </ons-list-item>
    </div>
  </ons-list>
</ons-page>
