<!-- 設定・情報画面 -->
<ons-page id="setting-info">
    <div class="page__background background_whitesmoke"></div>
    <ons-toolbar class="toolbar">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">Nineteen</div>
    </ons-toolbar>
    <div class="container-default-heigh">
        <ons-list>
            <ons-list-item id="my-profile-edit">
                <h5>自分プロフィール編集</h5>
            </ons-list-item>
            <ons-list-item id="my-authentication-edit">
                <h5>ユーザー登録情報編集</h5>
            </ons-list-item>
            <ons-list-item id="terms-list">
                <h5>規約一覧</h5>
            </ons-list-item>
            <ons-list-item id="help-list">
                <h5>ヘルプ一覧</h5>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>