<!-- 自分プロフィール編集画面 -->
<ons-page id="my-profile-edit">
  <div class="page__background background_whitesmoke"></div>
  <ons-toolbar class="toolbar">
    <div class="left">
      <ons-back-button>戻る</ons-back-button>
    </div>
    <div class="center">プロフィール設定</div>
    <div class="right">更新</div>
  </ons-toolbar>

  <ons-list>
    <ons-list-item modifier="longdivider">
      <p class="title-left">ニックネーム</p>
      <div class="input-form">
        <ons-input id="name" modifier="underbar" float value="numaC"></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">
      <p class="title-left">職業</p>
      <div class="input-form">
        <ons-input id="job" modifier="underbar" float value="弁護士"></ons-input>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">
      <p class="title-top">プロフィール写真・ショートムービー</p>
      <div class="profile-img-movie">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="profile-img" alt="profile-img" src="../../assets/sample/sample-bijyo1.jpg" width="100%">
            </div>
            <div class="swiper-slide">
              <img class="profile-img" alt="profile-img" src="../../assets/sample/sample-bijyo2.jpg" width="100%">
            </div>
            <div class="swiper-slide">
              <img class="profile-img" alt="profile-img" src="../../assets/sample/sample-girls-group3.jpg" width="100%">
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <ons-fab class="icon-darkslateblue">
        <ons-icon icon="md-plus"></ons-icon>
      </ons-fab>
    </ons-list-item>
    <ons-list-item modifier="longdivider">
      <div>
        <p class="title-top">自己紹介</p>
        <textarea id="profile" cols="45" name="profile"
          rows="6">今日は可愛い子と呑めるということでワクワクしています。趣味は、女の子が一気で呑めなかった飲み残しを代打飲みすること。ちなみに、ほろよい2缶でぶっ潰れます。今日は気合入れてるので、ほろよい3缶いけるよう頑張ります！よろしく〜！</textarea>
      </div>
    </ons-list-item>
  </ons-list>

  <div class="profile-guide">
    <div class="center">プロフィール作成ガイド</div>
    <p class="register-profile-msg">
      プロフィールの作成にお困りの方はまずこちらを参考にしてみましょう。
    </p>
  </div>
</ons-page>