<!-- ヘルプ一覧画面 -->
<ons-page id="terms-list">
    <div class="page__background background_whitesmoke"></div>
    <ons-toolbar class="toolbar">
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">
            設定・情報
        </div>
    </ons-toolbar>

    <div class='content-header'>
        <input type="button" class="content-header-inner" disabled value="規約一覧">
    </div>

    <ons-list>
        <div class="list-wrapper">
            <ons-list-header>規約</ons-list-header>
            <ons-list-item id="help-list">
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
                ----------------------------------------------------------<br>
            </ons-list-item>
        </div>
    </ons-list>
</ons-page>