/* Styles for under HOME shared styles */
/* Home related styles */
#home-arr img,
#home-now img,
#home-rcmdd img {
  box-shadow: 0px 0px 3px 0px #000000;
  display: block;
  max-height: 160px;
  max-width: auto;
}

#home-arr ons-row,
#home-now ons-row,
#home-rcmdd ons-row {
  margin: 0 auto;
  width: 90%;
}

#home-arr .content,
#home-now .content,
#home-rcmdd .content {
  font-size: 10px;
  padding: 2px 0;
}

#home-arr .search-input,
#home-now .search-input,
#home-rcmdd .search-input {
  background-color: #FFFFFF;
  display: block;
  margin: 5px auto;
  max-height: 40px;
  min-width: 200px;
}

.home-group-card {
  border: none;
  border-radius: 40%;
  box-shadow: 0px 0px 3px 0px #000000;
  display: block;
  font-size: 12px;
  height: 30px;
  margin: 15px auto;
  text-align: center;
  width: 30%;
}

/* page content header styles */
.content-header {
  text-align: center;
}

.content-header-inner {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 30px;
  color: #000000;
  display: inline;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding: 3px 10px;
}
