/* Styles for HOME layouts */
#home-arr img,
#home-now img,
#home-rcmdd img {
  box-shadow: 0px 0px 3px 0px #000000;
  display: block;
  max-height: 160px;
  max-width: auto;
}

#home-arr ons-row,
#home-now ons-row,
#home-rcmdd ons-row {
  margin: 0 auto;
  width: 90%;
}

#home-arr .content,
#home-now .content,
#home-rcmdd .content {
  font-size: 10px;
  padding: 2px 0;
}

#home-arr .search-input,
#home-now .search-input,
#home-rcmdd .search-input {
  background-color: #FFFFFF;
  display: block;
  margin: 5px auto;
  max-height: 40px;
  min-width: 200px;
}

.home-group-card {
  border: none;
  border-radius: 40%;
  box-shadow: 0px 0px 3px 0px #000000;
  display: block;
  font-size: 12px;
  height: 30px;
  margin: 15px auto;
  text-align: center;
  width: 30%;
}