<!-- 飲み会スケジュール画面: スケジュール一覧 -->
<ons-page id="schedule-list">
  <div class="page__background background_whitesmoke"></div>
  <div class="wrapper">
    <ons-toolbar class="toolbar">
      <div class="left">
        <ons-icon icon="fa-bell" size="20px" fixed-width="false" class="icon-white"></ons-icon>
      </div>
      <div class="center">Nineteen</div>
      <div class="right">
        <ons-icon icon="fa-cog" size="20px" fixed-width="false" class="icon-white"></ons-icon>
      </div>
    </ons-toolbar>
    <input type="button" value="条件で探す" class="search-input search-input--material">

    <div class="tabbar tabbar--top tabbar--material">
      <label class="tabbar__item tabbar--material__item">
        <input type="radio" id="js-schedule-list-tab" name="tabbar-material-a" checked="checked">
        <button class="tabbar__button tabbar--material__button">
          スケジュール一覧
        </button>
      </label>

      <label class="tabbar__item tabbar--material__item">
        <input type="radio" id="js-schedule-calendar-tab" name="tabbar-material-a" >
        <button class="tabbar__button tabbar--material__button">
          カレンダー
        </button>
      </label>
    </div>

    <div class="container-default-heigh">
      <ons-list>
        <ons-list-item id="js-move-to-party-setting-sample">
          <div class="left">
            <p class="schedule-list-index">
              1
            </p>
          </div>
          <table border="0">
            <tr>
              <th>
                相手グループ
              </th>
              <th>
                自分グループ
              </th>
              <th>
                日程
              </th>
            </tr>
            <tr>
              <td>
                美女軍団
              </td>
              <td>
                医者EGG
              </td>
              <td>
                2020/10/23(木)
                <br>20:00~
              </td>
            </tr>
          </table>
        </ons-list-item>
        <ons-list-item>
          <div class="left">
            <p class="schedule-list-index">
              2
            </p>
          </div>
          <table border="0">
            <tr>
              <th>
                相手グループ
              </th>
              <th>
                自分グループ
              </th>
              <th>
                日程
              </th>
            </tr>
            <tr>
              <td>
                美女軍団
              </td>
              <td>
                医者EGG
              </td>
              <td>
                2020/10/23(木)
                <br>20:00~
              </td>
            </tr>
          </table>
        </ons-list-item>
        <ons-list-item>
          <div class="left">
            <p class="schedule-list-index">
              3
            </p>
          </div>
          <table border="0">
            <tr>
              <th>
                相手グループ
              </th>
              <th>
                自分グループ
              </th>
              <th>
                日程
              </th>
            </tr>
            <tr>
              <td>
                美女軍団
              </td>
              <td>
                医者EGG
              </td>
              <td>
                2020/10/23(木)
                <br>20:00~
              </td>
            </tr>
          </table>
        </ons-list-item>
        <ons-list-item>
          <div class="left">
            <p class="schedule-list-index">
              4
            </p>
          </div>
          <table border="0">
            <tr>
              <th>
                相手グループ
              </th>
              <th>
                自分グループ
              </th>
              <th>
                日程
              </th>
            </tr>
            <tr>
              <td>
                美女軍団
              </td>
              <td>
                医者EGG
              </td>
              <td>
                2020/10/23(木)
                <br>20:00~
              </td>
            </tr>
          </table>
        </ons-list-item>
        <ons-list-item>
          <div class="left">
            <p class="schedule-list-index">
              5
            </p>
          </div>
          <table border="0">
            <tr>
              <th>
                相手グループ
              </th>
              <th>
                自分グループ
              </th>
              <th>
                日程
              </th>
            </tr>
            <tr>
              <td>
                美女軍団
              </td>
              <td>
                医者EGG
              </td>
              <td>
                2020/10/23(木)
                <br>20:00~
              </td>
            </tr>
          </table>
        </ons-list-item>
        <ons-list-item>
          <div class="left">
            <p class="schedule-list-index">
              6
            </p>
          </div>
          <table border="0">
            <tr>
              <th>
                相手グループ
              </th>
              <th>
                自分グループ
              </th>
              <th>
                日程
              </th>
            </tr>
            <tr>
              <td>
                美女軍団
              </td>
              <td>
                医者EGG
              </td>
              <td>
                2020/10/23(木)
                <br>20:00~
              </td>
            </tr>
          </table>
        </ons-list-item>
        <ons-list-item>
          <div class="left">
            <p class="schedule-list-index">
              7
            </p>
          </div>
          <table border="0">
            <tr>
              <th>
                相手グループ
              </th>
              <th>
                自分グループ
              </th>
              <th>
                日程
              </th>
            </tr>
            <tr>
              <td>
                美女軍団
              </td>
              <td>
                医者EGG
              </td>
              <td>
                2020/10/23(木)
                <br>20:00~
              </td>
            </tr>
          </table>
        </ons-list-item>
      </ons-list>
    </div>

    <ons-tabbar class="footer-tab" swipeable>
      <ons-tab id="js-home-tab" label=" ホーム" icon="fa-home" badge=""></ons-tab>
      <ons-tab id="js-topic-tab" label="トピック" icon="fa-battle-net"></ons-tab>
      <ons-tab id="js-match-making-tab" label="合コン" icon="fa-glass-cheers" ></ons-tab>
      <ons-tab id="js-schedule-tab" label="スケジュール" icon="fa-calendar-alt" active></ons-tab>
      <ons-tab id="js-group-tab" label="グループ" icon="fa-users"></ons-tab>
    </ons-tabbar>
</ons-page>
