<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <link rel="stylesheet" href="../../external-lib/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="../../external-lib/pagination/pagination.css">
  <link rel="stylesheet" href="../../external-lib/monthly-js/monthly.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/under-home.css">
  <link rel="stylesheet" href="../../css/home.css">
  <link rel="stylesheet" href="../../css/topic.css">
  <link rel="stylesheet" href="../../css/match-making.css">
  <link rel="stylesheet" href="../../css/partner-group-profile.css">
  <link rel="stylesheet" href="../../css/profile-view.css">
  <link rel="stylesheet" href="../../css/schedule.css">
  <link rel="stylesheet" href="../../css/group/group-profile-register.css">
  <link rel="stylesheet" href="../../css/group/group-profile-edit.css">
  <link rel="stylesheet" href="../../css/party/party-setting.css">
  <link rel="stylesheet" href="../../css/setting-info/my-profile-edit.css">
  <link rel="stylesheet" href="../../css/setting-info/contact-site-manager.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script type="text/javascript" src="../../js/lib/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../../external-lib/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="../../external-lib/monthly-js/monthly.js"></script>
  <script type="text/javascript" src="../../external-lib/pagination/pagination.js"></script>
  <script type="text/javascript" src="../../js/routing.js"></script>
  <script type="text/javascript" src="../../js/image-swiper.js"></script>
  <script type="text/javascript" src="../../js/match-making-pagination.js"></script>
  <script type="text/javascript" src="../../js/schedule-calendar.js"></script>
</head>

<body>
  <!-- ホーム画面:おすすめグループ -->
  <ons-navigator swipeable id="myNavigator" page="./home-recommended-group.html"></ons-navigator>
</body>