<!-- ホーム画面:新着グループ -->
<ons-page id="home-arr">
  <div class="page__background background_whitesmoke"></div>
  <ons-toolbar class="toolbar">
    <div class="left">
      <ons-icon icon="fa-bell" size="20px" fixed-width="false" class="icon-white"></ons-icon>
    </div>
    <div class="center">Nineteen</div>
    <div id="go-setting-info" class="right">
      <ons-icon icon="fa-cog" size="20px" fixed-width="false" class="icon-white"></ons-icon>
    </div>
  </ons-toolbar>

  <input type="button" value="条件で探す" class="search-input search-input--material">

  <div class="tabbar tabbar--top tabbar--material">
    <label class="tabbar__item tabbar--material__item">
      <input type="radio" id="js-home-rcmdd-btn" name="tabbar-material-a">
      <button class="tabbar__button tabbar--material__button">
        おすすめ
      </button>
    </label>

    <label class="tabbar__item tabbar--material__item">
      <input type="radio" id="js-home-arr-btn" name="tabbar-material-a" checked="checked">
      <button class="tabbar__button tabbar--material__button">
        新着
      </button>
    </label>

    <label class="tabbar__item tabbar--material__item">
      <input type="radio" id="js-home-now-btn" name="tabbar-material-a">
      <button class="tabbar__button tabbar--material__button">
        すぐ飲みたい！
      </button>
    </label>
  </div>

  <div class="container-default-heigh">
    <input type=text class="home-group-card" value="新着グループ">
    <!-- ======= [TODO] shoud use "for loop" ======= -->
    <ons-row>
      <ons-col vertical-align="center" width="165px">
        <ons-card>
          <div class="content">
            Group1 #3人
          </div>
          <img src="../../assets/sample/sample-bijyo1.jpg" alt="group img">
          <div class="content">
            楽しく飲め人募集！
          </div>
        </ons-card>
      </ons-col>
      <ons-col vertical-align="center" width="165px">
        <ons-card>
          <div class="content">
            Group1 #3人
          </div>
          <img src="../../assets/sample/sample-bijyo1.jpg" alt="group img">
          <div class="content">
            楽しく飲め人募集！
          </div>
        </ons-card>
      </ons-col>
      <ons-col vertical-align="center" width="165px">
        <ons-card>
          <div class="content">
            Group1 #3人
          </div>
          <img src="../../assets/sample/sample-bijyo1.jpg" alt="group img">
          <div class="content">
            楽しく飲め人募集！
          </div>
        </ons-card>
      </ons-col>
      <ons-col vertical-align="center" width="165px">
        <ons-card>
          <div class="content">
            Group1 #3人
          </div>
          <img src="../../assets/sample/sample-bijyo1.jpg" alt="group img">
          <div class="content">
            楽しく飲め人募集！
          </div>
        </ons-card>
      </ons-col>
      <ons-col vertical-align="center" width="165px">
        <ons-card>
          <div class="content">
            Group1 #3人
          </div>
          <img src="../../assets/sample/sample-bijyo1.jpg" alt="group img">
          <div class="content">
            楽しく飲め人募集！
          </div>
        </ons-card>
      </ons-col>
      <ons-col vertical-align="center" width="165px">
        <ons-card>
          <div class="content">
            Group1 #3人
          </div>
          <img src="../../assets/sample/sample-bijyo1.jpg" alt="group img">
          <div class="content">
            楽しく飲め人募集！
          </div>
        </ons-card>
      </ons-col>
      <ons-col vertical-align="center" width="165px">
        <ons-card>
          <div class="content">
            Group1 #3人
          </div>
          <img src="../../assets/sample/sample-bijyo1.jpg" alt="group img">
          <div class="content">
            楽しく飲め人募集！
          </div>
        </ons-card>
      </ons-col>
    </ons-row>
    <!-- ========================================== -->
  </div>

  <ons-tabbar class="footer-tab" swipeable>
    <ons-tab id='js-home-tab' label=" ホーム" icon="fa-home" badge="" active></ons-tab>
    <ons-tab id='js-topic-tab' label="トピック" icon="fa-battle-net"></ons-tab>
    <ons-tab id='js-match-making-tab' label="合コン" icon="fa-glass-cheers"></ons-tab>
    <ons-tab id='js-schedule-tab' label="スケジュール" icon="fa-calendar-alt"></ons-tab>
    <ons-tab id='js-group-tab' label="グループ" icon="fa-users"></ons-tab>
  </ons-tabbar>
</ons-page>