<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/signin/signin.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script type="text/javascript" src="js/lib/jsbn.js"></script>
  <script type="text/javascript" src="js/lib/jsbn2.js"></script>
  <script type="text/javascript" src="js/lib/sjcl.js"></script>
  <script type="text/javascript" src="js/lib/aws-sdk.min.js"></script>
  <script type="text/javascript" src="js/lib/aws-cognito-sdk.min.js"></script>
  <script type="text/javascript" src="js/lib/amazon-cognito-identity.min.js"></script>
  <script type="text/javascript" src="js/lib/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
</head>

<body>
  <ons-navigator swipeable id="myNavigator" page="entry.html"></ons-navigator>
  <ons-template id="entry.html">
    <ons-page id="entry">
      <div id="signin">
        <div id="input_area">
          <p>
            <ons-input id="signinId" modifier="underbar" placeholder="Username" float ng-model="page.username">
            </ons-input>
          </p>
          <p>
            <ons-input id="signinPassword" modifier="underbar" type="password" placeholder="Password" float
              ng-model="page.password"></ons-input>
          </p>
          <p style="margin-top: 30px;">
            <ons-button id="signinButton">Sign in</ons-button>
          </p>
        </div>
      </div>
    </ons-page>
  </ons-template>
</body>

</html>