/* global styles */
#party-room h6 {
  display: inline-block;
  margin: 10px 0;
}

#party-room ons-col {
  border: 1px solid #000000;
  border-radius: 15%;
  margin: 1px;
  overflow: hidden;
}

#party-room video {
  border-radius: 15%;
  background-color: #111;
  height: 100%;
  width: 100%;
}


#party-room .chat-body-content-child {
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px #000000 solid;
  margin-top: 2px;
}

#party-room .chat-sender-name {
  font-size: 12px;
  margin: 0;
}

#party-room .chat-body-content-parent {
  margin-top: 5px;
  max-width: 200px;
  min-width: 20px;
}

#party-room .chat-body-content-p {
  font-size: 16px;
  margin: 0;
  padding: 5px 10px;
  word-break: break-all;
}

#party-room .chat-body-content-right {
  margin: 5px 0 0 auto;
}

#party-room .chat-close-icon {
  color: #483d8b;
  margin: 10px;
  position: absolute;
  right: 2px;
}

#party-room .chat-container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 95%;
  z-index: 90;
}

#party-room .chat-footer {
  bottom: 10px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 100;
}

#party-room .chat-footer-button {
  margin-left: 1%;
  width: 18%;
}

#party-room .chat-footer-input {
  width: 70%;
  padding: 3px 6px;
}


#party-room .chat-header {
  text-align: center;
}


#party-room .container {
  background-color: #483d8b;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#party-room .container-menu {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0px;
  text-align: right;
  width: 8%;
}

#party-room .container-menu-icons {
  display:table-cell;
  height: 100vh;
  vertical-align: middle;
}

#party-room .containaer-video {
  display: inline-block;
  font-size: 10px;
  height:100%;
  margin-left: 1%;
  width: 90%;
}

#party-room .container-video-bottom {
  height: 45%; /*[DEBUG]: 相手グループ:自分グループの動画表示サイズは6:4程度にする@2020/07/25:numaC  */
  margin: 0 0 1% 0;
  width: 100%;
}

#party-room .container-video-top {
  height: 47%; /*[DEBUG]: 相手グループ:自分グループの動画表示サイズは6:4程度にする@2020/07/25:numaC  */
  margin: 2px 0 1% 0;
  width: 100%;
}

#party-room .icon-msg {
  color: #FFFFFF;
  font-size: 13px;
  margin: 5px 0 0 3px;
  text-align: left;
}

#party-room .menu-icon {
  background-color: whitesmoke;
  border-radius: 35%;
  color: #696969;
  display: inline-block;
  margin: 10% 15% 10% 0;
  padding: 4px 7px;
}
