<!-- マッチングリスト画面: オファー済み -->
<ons-page id="match-making-offered-to">
  <div class="page__background background_whitesmoke"></div>
  <div class="wrapper">
    <ons-toolbar class="toolbar">
      <div class="left">
        <ons-icon icon="fa-bell" size="20px" fixed-width="false" class="icon-white"></ons-icon>
      </div>
      <div class="center">Nineteen</div>
      <div class="right">
        <ons-icon icon="fa-cog" size="20px" fixed-width="false" class="icon-white"></ons-icon>
      </div>
    </ons-toolbar>
  <input type="button" value="条件で探す" class="search-input search-input--material">
  
  <div class="tabbar tabbar--top tabbar--material">
    <label class="tabbar__item tabbar--material__item">
      <input type="radio" id="js-match-offered-by" name="tabbar-material-a">
      <button class="tabbar__button tabbar--material__button">
        オファー来た
      </button>
    </label>
  
    <label class="tabbar__item tabbar--material__item">
      <input type="radio" id="js-matched" name="tabbar-material-a">
      <button class="tabbar__button tabbar--material__button">
        マッチング！
      </button>
    </label>
  
    <label class="tabbar__item tabbar--material__item">
      <input type="radio" id="js-match-offered-to" name="tabbar-material-a" checked="checked">
      <button class="tabbar__button tabbar--material__button">
        オファー済み
      </button>
    </label>
  </div>

  <div class="js-matche-making-data-container"></div>
  <div class="js-match-making-pagination-container pagination-container"></div>

  <ons-tabbar class="footer-tab" swipeable>
    <ons-tab id="js-home-tab" label=" ホーム" icon="fa-home" badge=""></ons-tab>
    <ons-tab id="js-topic-tab" label="トピック" icon="fa-battle-net" ></ons-tab>
    <ons-tab id="js-match-making-tab" label="合コン" icon="fa-glass-cheers" active></ons-tab>
    <ons-tab id="js-schedule-tab" label="スケジュール" icon="fa-calendar-alt"></ons-tab>
    <ons-tab id="js-group-tab" label="グループ" icon="fa-users"></ons-tab>
  </ons-tabbar>
</ons-page>
