/* Style for base layouts */
ons-tabbar.footer-tab {
  bottom: 0px;
  position: sticky; 
}

.background_darkslateblue {
  background-color: #483d8b;
}

.background_whitesmoke {
  background-color: #F5F5F5;
}

.footer-tab .tabbar {
  position: relative;
}

.icon-darkslateblue {
  color: #483d8b;
}

.icon-white {
  color: #F5F5F5;
}

.toolbar {
  background-color: #483d8b;
}

.toolbar__center, .toolbar__left, .toolbar__right {
  color: #FFFFFF;
  margin: 0 10px;
}
